body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    position: relative; /* Establece el contenedor como contexto de posicionamiento para los elementos absolutamente posicionados */
    display: grid; /* Utiliza un diseño de rejilla para organizar los elementos */
    grid-template-columns: auto 1fr auto; /* Divide el contenedor en tres columnas: izquierda para el cuadro del aliado, centro para la arena y derecha para el cuadro del enemigo */
    grid-gap: 20px; /* Espacio entre las columnas */
    align-items: center; /* Centra verticalmente los elementos */
}

.arena {
    grid-column: 2; /* Coloca la arena en la segunda columna */
    height: 300px;
    width: 530px;
    background-image: url('./fondo.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #ccc;
    border-radius: 15px;
}

#poke-rival {
    position: absolute;
    right: 0; /* Alinea el cuadro de datos del enemigo a la derecha */
    top: 0; /* Alinea el cuadro de datos del enemigo arriba */
}

#poke-propio {
    position: absolute;
    left: 0; /* Alinea el cuadro de datos del aliado a la izquierda */
    top: 0; /* Alinea el cuadro de datos del aliado arriba */
}

.controls {
    position: absolute;
    left: 0; /* Alinea las opciones a la izquierda */
    bottom: 0; /* Alinea las opciones abajo */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arena {
    position: relative; 
    height: 300px;
    width: 530px;
    background-image: url('./fondo.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 15px;
}


#poke {
    position: absolute;
    left: 23%;
    bottom: 45px;
    height: 400;
    width: 400;
    max-height: 600px; /* Ajusta según sea necesario para hacer que el Pokémon se vea más grande */
}

#poke2 {
    position: absolute;
    right: 20%;
    bottom: 130px; 
    max-height: 2000px; /* Ajusta según sea necesario para hacer que el Pokémon se vea más grande */
}



.stats {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poke-name {
    font-size: 1.5em;
    font-weight: bold;
}

.poke-type, .poke-attack, .poke-hp {
    font-size: 1.2em;
}

.controls {
    margin: 20px 0;
}

.controls input, .controls button {
    padding: 10px;
    font-size: 1em;
    margin: 5px;
}

.credits {
    margin-top: 30px;
}

.nuevo-rival {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
}



.credits ul {
    list-style-type: none;
    padding: 0;
}

.credits li {
    font-size: 1em;
    color: #555;
}
